body {
  background-color: #fff5f7;
}
h1 {
  color: #1c1517;
  font-family: courier;
  font-size: 300%;
}

h2 {
  color: #1c1517;
  font-family: courier;
  font-size: 200%;
}

p {
  color: #2e2a2b;
  font-family: courier;
  font-size: 160%;
}

label{
  color: #352429;
  font-family: courier;
  background-color: #ffeef2;
  font-size: 110%;
}

a {
  color: #261f33;
  background-color: #ffdee6;
  font-weight: bold;
  font-family: courier;
}

input{
  color: #2e2a2b;
  font-family: courier;
  font-size: 100%;
  outline: none;
  box-shadow: none; 
  border: none;  
  background-color: #ffdd7e;
}

button{
  color: #1c1517;
  font-family: courier;
  font-size: 100%;
  background-color: #ffdee6;
  font-weight: bold;
  outline: none;
  box-shadow: none; 
  border: none;  
}

button:hover{
  background-color: rgb(255, 124, 168);
}

button:active{
  background-color: rgb(247, 212, 53);
}



.content-container{
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 50px;
  padding-left:10px;
}

.biography{
  box-sizing: border-box;
}

.vertical-aligned-ciphers{

}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffefa8;
  color: #2b171c; 
  text-align: center;
}